@if(dynamicForm){
<h1>TEST</h1>

<p>Sections: {{ sections.length }}</p>
<form [formGroup]="dynamicForm" (ngSubmit)="submitForm()">

  @for (section of sections; track section.autoId) {

    <div class="section">

      <h3>{{ section.formName }}</h3>

      <div class="row">

        @for (field of section.fields; track field.autoId) {

          <div class="col-md-6 mb-3">

            <label class="form-label">
              {{ field.label }}
            </label>

            <!-- TEXT -->

            @if (field.type === 'text') {

              <input
                type="text"
                class="form-control"
                [placeholder]="field.placeHolder"
                [formControlName]="field.saveColumnName">

            }

            <!-- SELECT -->

            @if (field.type === 'select') {

              <select
                class="form-select"
                [formControlName]="field.saveColumnName">

                <option value="">
                  Select {{ field.label }}
                </option>

                @for (option of field.options; track option.key) {

                  <option [value]="option.value">
                    {{ option.key }}
                  </option>

                }

              </select>

            }

            <!-- SEARCH -->

            @if (field.type === 'search') {

              <input
                type="search"
                class="form-control"
                [placeholder]="field.placeHolder"
                [formControlName]="field.saveColumnName">

            }

            <!-- FETCH -->

            @if (field.type === 'fetch') {

              <input
                type="text"
                class="form-control"
                [placeholder]="field.placeHolder"
                [formControlName]="field.saveColumnName">

            }

            <!-- FILE -->

            @if (field.type === 'upload') {

              <input
                type="file"
                class="form-control"
                accept=".jpg,.jpeg,.png"
                (change)="onFileSelected($event, field.saveColumnName)">

                @if(filePreviews[field.saveColumnName]) {

                  <div class="card mt-2" style="width: 180px;">
                    <img
                      [src]="filePreviews[field.saveColumnName]"
                      class="card-img-top">

                    <div class="card-body p-2">
                      <small class="text-success">
                        Preview Ready
                      </small>
                    </div>
                  </div>

                }

            }

            <!-- ERROR -->
            @if(
              dynamicForm.get(field.saveColumnName)?.invalid &&
              dynamicForm.get(field.saveColumnName)?.touched
            ){

              <small class="text-danger">
                {{ getErrorMessage(field) }}
              </small>
            }

          </div>

        }

      </div>

    </div>

  }

  <button
    type="submit"
    class="btn btn-primary">

    Submit

  </button>

</form>
}